.academias{
    display: none;
    &__titulo{
        margin-top: 4rem;
        text-align: center;
    }
    &__div{
        text-align: center;
    }
    &__link{
        margin: 2rem 0;
    }
    &__img{
        width: 100%;
        height: 100%;
    }
}

@media(min-width:768px){
    .academias{
        display: block;
        
        &__movil{
            display: none;
        }
    }

}