.aparecer{
    margin-top: 3rem;
    &__titulo{
        text-align: center;
        margin-bottom: 3rem;
        font-weight: $bold;
    }
}
.formulario{
    &__btn{
        text-align: center;
    }
}

// @media (min-width:768px){
//     .formulario{
//         // &__nombre, &__correo, &__asunto{
//         //     width: 20rem !important;
//         // }
//     }
// }