.contacto{
    margin-top: 3rem;
    
    &__titulo{
        text-align: center;
        margin-bottom: 2rem;
        font-weight: $bold;
    }
    &__form{
        margin-bottom: 2rem;
    }
    &__btn{
        text-align: center;
    }
}