.horario{
    &__titulo{
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
}
.tabla{
    margin: 0 auto;
    width: 62rem;
    &__div{
        overflow: auto;
    } 
    &__btn{
        background-color: $darkred !important;
        color: $white !important;
    }
    &__academia{
        width: 25%;
    }
    &__profesor{
        width: 16%;
    }
    &__horario{
        width: 24%;
    }
    &__estilo{
        width: 23%;
    }
    &__boton{
        width: 12%;
    }
}

// @media(min-width:768px){
//     .tabla{
//         width: 75% !important;
    
//         &__dia{
//             width: 15% !important;
//         }
//         &__clases{
//             width: 85%;
//         }
//         &__estilo{
//             width: 85%;
//         }    

//         &__btn{
//             width: 15% !important;
//         }

//     }
// }