.noticias{
    &__titulo{
        text-align: center;
        font-weight: $bold;
        margin-top:3rem;
        margin-bottom: 3rem;
    }
}

.noticia{
    margin-bottom: 3rem;
    &__etiquetas{
        color:  $darkred;
    }
}

@media(max-width:768px){
    .noticia{
        &__img{
            width: 510px !important;
            height: 250px !important;
        }
    }
}